_xmsgs/
alibs.do
cds.lib
compile.asim
compile.dc
compile.ncsim
compile.rc
compile.simv
compile.synp
compile.vsim
compile.xst
fmref.tcl
ghdl.path
hdl.var
leon3mp.bld
leon3mp.lct
leon3mp.ldf
leon3mp.lso
leon3mp.ngc
leon3mp.npl
leon3mp.srp
leon3mp.syn
leon3mp.xise
leon3mp.xst
leon3mp_designer.tcl
leon3mp_designer_act.tcl
leon3mp_files.prj
leon3mp_ise.tcl
leon3mp_ngdbuild.xrpt
leon3mp_precision.tcl
leon3mp_precrun.tcl
leon3mp_quartus.qpf
leon3mp_quartus.qsf
leon3mp_rtl_fpro.fl
leon3mp_synplify.npl
leon3mp_synplify.qpf
leon3mp_synplify.qsf
leon3mp_synplify_win32.npl
leon3mp_win32.npl
leon3mp_xst.xrpt
libs.do
libs.txt
make.asim
make.asim-addfile
make.ghdl
make.ncsim
make.riviera
make.simv
make.vsim
modelsim.ini
netlist.lst
planahead/
riviera_ws_create.do
scriptgen_variable_values.tcl
scriptgendone
scriptgenwork/
synopsys_sim.setup
tags
testbench.mpf
vcs_libs
vivado/
xst/
TheBigLeonski.bld
TheBigLeonski.lso
TheBigLeonski.map
TheBigLeonski.mrp
TheBigLeonski.ncd
TheBigLeonski.ngc
TheBigLeonski.ngd
TheBigLeonski.ngm
TheBigLeonski.pcf
TheBigLeonski.srp
TheBigLeonski.xst
TheBigLeonski_map.xrpt
TheBigLeonski_ngdbuild.xrpt
TheBigLeonski_summary.xml
TheBigLeonski_usage.xml
TheBigLeonski_xst.xrpt
xlnx_auto_0_xdb/
TheBigLeonski.bgn
TheBigLeonski.bit
TheBigLeonski.msk
TheBigLeonski.ngr
TheBigLeonski.pad
TheBigLeonski.par
TheBigLeonski.prj
TheBigLeonski.ptwx
TheBigLeonski.twr
TheBigLeonski.twx
TheBigLeonski.unroutes
TheBigLeonski.xpi
TheBigLeonski_bitgen.xwbt
TheBigLeonski_envsettings.html
TheBigLeonski_pad.csv
TheBigLeonski_pad.txt
TheBigLeonski_par.xrpt
leon3mp.gise
usage_statistics_webtalk.html
webtalk.log
TheBigLeonski_vhdl.prj
e~testbench.o
ghdl.log
gnu/
testbench
**/*.swp
data.vcd.gz
TheBigLeonski.lct
TheBigLeonski.ldf
TheBigLeonski.npl
TheBigLeonski.syn
TheBigLeonski.xise
TheBigLeonski_designer.tcl
TheBigLeonski_designer_act.tcl
TheBigLeonski_ise.tcl
TheBigLeonski_precision.tcl
TheBigLeonski_precrun.tcl
TheBigLeonski_quartus.qpf
TheBigLeonski_quartus.qsf
TheBigLeonski_rtl_fpro.fl
TheBigLeonski_synplify.npl
TheBigLeonski_synplify.qpf
TheBigLeonski_synplify.qsf
TheBigLeonski_synplify_win32.npl
TheBigLeonski_win32.npl
